@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>    
    Houston, TX 77042<br />
    <abbr title="Phone">P:</abbr>
    800-505-1905
</address>

<address>
    <strong>Support:</strong> <a href="mailto:huynh.dzung@gmail.com">Support</a><br />
    <strong>Marketing:</strong> <a href="mailto:huynh.dzung@gmail.com">Marketing</a>
</address>
