@model ElectronicPartsExplorer.Models.TransistorModel

@{
    ViewData["Title"] = "Index";
}

<h2>Transistor Tech Info</h2>

<div>
    <h4>Service will be available soon.</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<div>    
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>
